html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: rgb(24, 24, 24);
}

.nav-link{
  font-size: 1.3rem;
 }

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  color: white;
  background: rgba(0, 0, 0, 0.65);
}

.video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.top-section p {
  font-size: 5em;
  letter-spacing: 10px;
  font-weight: 600;
  border-right: 5px solid;
  color: rgb(123, 179, 116);

  /* In order for animation to work */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(12), cursor 0.4s step-end infinite alternate;
}

/* typewriting animation */
.text-animation {
  display: inline-block;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}


.about-me{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size:2rem;
    color:white;
    opacity: 0.8;
    background-color: rgb(33, 37, 41);
    padding: 1.5rem;
    margin-bottom: 10em;
    margin-top: 5em;
}




.socialIcons {
  display: flex;

  background-color: rgb(33, 37, 41);
  justify-content: center;
  gap: 2rem;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 10%;
}

.socialIcons i {
  font-size: 1.5em;
  color: black;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}

.footerBottom {
  display: flex;
  background-color: rgb(24, 24, 24);
  justify-content: center;
}
.footerBottom p {
  color: white;
  font-size: 0.7rem;
  opacity: 0.8;
}

.footerContainer {
  margin-top: auto;
}

.socialIcons p {
  display: flex;
  color: white;
  align-self: center;
}
